.navbars-avatar{
    height: 50px;
    width: 50px;
    object-fit: cover;
}

.count-circle-cart{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    color: #fff;
    line-height: 11px;
    text-align: center;
    background: rgb(255, 0, 0);
    display: inline-block;
    margin-left: -10px;
}

.number-count-cart{
    color: white;
    font-size: 10px;
}