.file-attachment{

    display: flex;
    justify-content:space-between;

    border: 2px solid #BCBCBC !important;
    box-sizing: border-box !important;
    border-radius: 5px !important;
    width: 100%;
    padding-top: 16px;
    padding-left: 13px;
    padding-right: 13px;
    cursor: pointer;
    align-items: center;
}

.title-file-attachment{
    display: inline;
    color: #D60000;
    font-weight: 900;
    font-size: 18px;
}

.image-file-attachment{
    width: 19px !important;
    height: 30px !important;
    margin-top: -12px;
}

/* book */
.add-book label p{
    display: inline;
    color: #333333;
    font-weight: 800;
    font-size: 18px;
}
