.hero-page {
    width: 100%;
    height: 400px;
    position: relative;
    z-index: -999;
}

.flex-auto {
    flex: auto;

}

.flex-auto .hero1 {
    position: absolute;
    background-image: url('../../../assets/images/hero1.png');
    width: 100%;
    height: 550px;
    background-repeat: no-repeat;
    z-index: -999;
}

.flex-auto .hero2 {
    background-image: url('../../../assets/images/hero2.png');
    background-repeat: no-repeat;
    width: 400px;
    height: 550px;
    position: absolute;
    z-index: -999;
    right: 0;
}

.height-content {
    margin-top: -370px;
}

.bg-profile{
    background: #FFD9D9;
    border-radius: 8px;
    width: 100%;
}

.content-profile{
    padding-left: 34px;
    padding-right: 34px;
    padding-top: 37px;
    padding-bottom: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.height-list-profile{
    margin-bottom: 22px;
}

.image-profile{
    background: #C4C4C4;
    border-radius: 4px;
    width: 100%;
    object-fit: cover;
}

.card-image-profile{
    object-fit: cover;
    text-align: center;
    margin-top: 4px;
    /* margin-bottom: 3px; */
}

.curson-pointer{
    cursor: pointer;
}

.avatar-profile{
    width: 60px !important;
    height: 60px !important;
    object-fit: cover !important;
    border-radius: 50%;
}